<%= simple_form_for [:app, @job] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.association :customer, collection: Customer.order(:business_name).pluck(:business_name, :id), prompt: "Choose a customer" %>
      </div>
      <div class="col-md-4">
        <%= f.association :user, collection: options_for_users(User.order(:first_name)), prompt: "Choose a user"  %>
      </div>
      <div class="col-md-4">
        <%= f.input :status, collection: ['Allocated', 'Completed'] %>
      </div>
      <div class="col-md-4">
        <%= f.input :completed_date, input_html: { class: 'datepicker' } %>
      </div>
      <div class="col-md-4">
        <%= f.input :scheduled_date, input_html: { class: 'datepicker' } %>
      </div>
      <div class="col-md-4">
        <%= f.input :invoice_number %>
      </div>
      <div class="col-md-4">
        <%= f.input :attachment %>
      </div>
    </div>
    <%= f.input :title %>
    <%= f.input :description, :as => :text, :input_html => {:rows => 5} %>
  </div>

  <% if @job.new_record? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Repeat</label>
        <select name="type" class="form-control" id="repeat-type">
          <option value="none" selected>None</option>
          <option value="weekly">Weekly</option>
          <option value="monthly">Monthly</option>
          <option value="quarterly">Quarterly</option>
          <option value="six monthly">Six monthly</option>
          <option value="yearly">Yearly</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 box-number-repeats" style="display: none;">
      <label>Number of repeats</label>
      <input type="number" name="repeats" class="form-control" value="1" min="1">
    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-outline-primary" %>
  </div>
  <br>
<% end %>

<% content_for :page_js do %>
  <script type="text/javascript">
    $("#repeat-type").change(function(event) {
      if($(this).val() == 'none') {
        $('.box-number-repeats').slideUp(0);
      }else {
        $('.box-number-repeats').slideDown(0);
      }
    });
  </script>
<% end %>
