<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <div class="border-form margin-bottom">
      <%= search_form_for @query, url: app_jobs_path do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.search_field :customer_business_name_cont, class: 'form-control', placeholder: 'Customer' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.search_field :user, class: 'form-control', placeholder: 'User' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.search_field :status_cont, class: 'form-control', placeholder: 'Status' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control datepicker" id="usr" placeholder="Start date">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control datepicker" id="usr" placeholder="End date">
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



<div class="box">
  <div class="box-header">
  <h3 class="box-title">Jobs</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_app_job_path %>" class="btn btn-block btn-default btn-sm">New job</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <thead>
    <tr>
      <th>Customer</th>
      <th>User</th>
      <th>Scheduled date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.customer.business_name %></td>
        <td><%= job.user&.first_name %> <%= job.user&.last_name %></td>
        <td><%= job.scheduled_date %></td>
        <td><%= job.status %></td>
        <td></td>
        <td> <a href="#">Job report</a> </td>
        <td><%= link_to 'Show', app_job_path(job) %> | <%= link_to 'Edit', edit_app_job_path(job) %> | <%= link_to 'Destroy', app_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
