<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Job details:</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_app_job_report_path(customer_id: @job.customer&.id, user_id: @job.user&.id, job_id: @job.id) %>" class="btn btn-success btn-xs">
          Job report
        </a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    
    <p>
      <strong>Customer:</strong>
      <%= @job.customer.business_name %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @job.user&.first_name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @job.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @job.description %>
    </p>

    <p>
      <strong>Scheduled date:</strong>
      <%= @job.scheduled_date %>
    </p>

    <p>
      <strong>Completed date:</strong>
      <%= @job.completed_date %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @job.status %>
    </p>

    <% if @job.attachment.exists? %>
    <p>
      <strong>Attachment:</strong>
      <a href="<%= @job.attachment.url %>" target="_blank">
        Download
      </a>
    </p>
    <% end %>

    <p>
      <strong>Invoice number:</strong>
      <%= @job.invoice_number %>
    </p>
  </div>
</div>
