<h1>Job:</h1>
<hr>
<p>
  <strong>Customer:</strong>
  <%= @job.customer.business_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Scheduled date:</strong>
  <%= @job.scheduled_date %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @job.completed_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>
