<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Customer: <%= @customer.business_name %></h3>
  </div>
  <div class="box-body">
    <p>
      <strong>Business name:</strong>
      <%= @customer.business_name %>
    </p>

    <p>
      <strong>Contact first name:</strong>
      <%= @customer.contact_first_name %>
    </p>

    <p>
      <strong>Contact last name:</strong>
      <%= @customer.contact_last_name %>
    </p>

    <p>
      <strong>Region:</strong>
      <%= @customer.region %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @customer.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Address1:</strong>
      <%= @customer.address1 %>
    </p>

    <p>
      <strong>Address2:</strong>
      <%= @customer.address2 %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @customer.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @customer.state %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @customer.country %>
    </p>

  </div>
</div>

<div class="box">
  <div class="box-header with-border">
    <h5 class="box-title"><%= @customer.business_name %>'s Jobs</h5>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Completed date</th>
          <th>Job report</th>
          <th>Invoice ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#2</td>
          <td>January 8 2018</td>
          <td>#2</td>
          <td>234JK</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
