<div class="box">
  <div class="box-header">
    <strong>Quick search:</strong> <a href="#">Option 1</a> | <a href="#">Option 2</a> | <a href="#">Option 3</a> | <a href="#">Option 4</a>
  </div>
  <div class="box-body">
    <div class="border-form margin-bottom">
      <%= search_form_for @query, url: app_job_reports_path do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.search_field :customer_business_name_cont, class: 'form-control', placeholder: 'Customer' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.search_field :user, class: 'form-control', placeholder: 'User' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.search_field :customer_business_name_cont, class: 'form-control', placeholder: 'Certificate' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control datepicker" id="usr" placeholder="Start date">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control datepicker" id="usr" placeholder="End date">
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="box">
  <div class="box-header">
  <h3 class="box-title">Job Reports</h3>
    <div class="box-tools">
      <ul class="pull-right">
        <a href="<%= new_app_job_report_path %>" class="btn btn-block btn-default btn-sm">New job report</a>
      </ul>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <thead>
    <tr>
      <th>Service date</th>
      <th>Serial number</th>
      <th>Customer</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_reports.each do |job_report| %>
      <tr>
        <td><%= job_report.service_date %></td>
        <td><%= job_report.serial_number %></td>
        <td><%= job_report.customer.business_name %></td>
        <td><%= job_report.user&.first_name %> <%= job_report.user&.last_name %></td>
        <td>
          <a href="<%= certificate_app_job_report_path(job_report) %>" data-method="POST">Certificate</a> | 
          <%= link_to 'Show', app_job_report_path(job_report) %> | 
          <%= link_to 'Edit', edit_app_job_report_path(job_report) %> | 
          <%= link_to 'Destroy', app_job_report_path(job_report), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
