<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Job Report</h3>
    <div class="box-tools">
      <a href="<%= app_job_report_path(format: :pdf) %>" class="btn btn-success btn-xs" target="_blank">
        <i class="fa fa-print"></i> Print
      </a>
      <a href="<%= certificate_app_job_report_path(@job_report) %>" data-method="POST" class="btn btn-success btn-xs">
        <i class="fa fa-send"></i> Send Certificate
      </a>
    </div>
  </div>
  
  <div class="box-body">
    <p>
      <strong>Job ID:</strong>
      <%= @job_report.job.id %>
    </p>

    <p>
      <strong>Customer:</strong>
      <%= @job_report.customer.business_name %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @job_report.user&.first_name %> <%= @job_report.user&.last_name %>
    </p>
    <br>
    <h5 class="box-title">Job Report</h5>
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Serial number:</strong>
          <%= @job_report.serial_number %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Service date:</strong>
          <%= @job_report.service_date %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Previous date:</strong>
          <%= @job_report.previous_date %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Clean air:</strong>
          <%= @job_report.clean_air %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Manual gas:</strong>
          <%= @job_report.manual_gas %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Manual gas 2:</strong>
          <%= @job_report.manual_gas_two %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Manual gas final:</strong>
          <%= @job_report.manual_gas_final %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Gas level:</strong>
          <%= @job_report.gas_level %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Total count:</strong>
          <%= @job_report.total_count %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Download:</strong>
          <%= @job_report.download %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Raw reading:</strong>
          <%= @job_report.raw_reading %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Attachment:</strong>
          <% if @job_report.attachment.exists? %>
          <a href="<%= @job_report.attachment.url %>" target="_blank">
            Download
          </a>
          <% end %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Comment:</strong>
          <%= @job_report.comment %>
        </p>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>



























    <p>
      <strong>Calibration factor:</strong>
      <%= @job_report.calibration_factor %>
    </p>

    <p>
      <strong>Gas replaced:</strong>
      <%= @job_report.gas_replaced %>
    </p>

    <p>
      <strong>Consumables invoice number:</strong>
      <%= @job_report.consumables_invoice_number %>
    </p>

    <p>
      <strong>Calibration successful:</strong>
      <%= @job_report.calibration_successful %>
    </p>

  </div>
</div>
