<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Job Report</h3>
    <div class="box-tools">
      <a href="<%= app_job_report_path(format: :pdf) %>" class="btn btn-success btn-xs" target="_blank">
        <i class="fa fa-print"></i> Print
      </a>
      <a href="<%= certificate_app_job_report_path(@job_report) %>" data-method="POST" class="btn btn-success btn-xs">
        <i class="fa fa-send"></i> Send Certificate
      </a>
    </div>
  </div>
  
  <div class="box-body">
    <p>
      <strong>Job:</strong>
      <%= @job_report.job.id %>
    </p>

    <p>
      <strong>Customer:</strong>
      <%= @job_report.customer.business_name %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @job_report.user&.first_name %>
    </p>

    <p>
      <strong>Serial number:</strong>
      <%= @job_report.serial_number %>
    </p>

    <p>
      <strong>Service date:</strong>
      <%= @job_report.service_date %>
    </p>

    <p>
      <strong>Previous date:</strong>
      <%= @job_report.previous_date %>
    </p>

    <p>
      <strong>Clean air:</strong>
      <%= @job_report.clean_air %>
    </p>

    <p>
      <strong>Manual gas:</strong>
      <%= @job_report.manual_gas %>
    </p>

    <p>
      <strong>Gas level:</strong>
      <%= @job_report.gas_level %>
    </p>

    <p>
      <strong>Total count:</strong>
      <%= @job_report.total_count %>
    </p>

    <p>
      <strong>Download:</strong>
      <%= @job_report.download %>
    </p>

    <p>
      <strong>Raw reading:</strong>
      <%= @job_report.raw_reading %>
    </p>

    <% if @job_report.attachment.exists? %>
    <p>
      <strong>Attachment:</strong>
      <a href="<%= @job_report.attachment.url %>" target="_blank">
        Download
      </a>
    </p>
    <% end %>

    <p>
      <strong>Comment:</strong>
      <%= @job_report.comment %>
    </p>

  </div>
</div>
